/src/Pixsys.Library.Common/.build/CakeRelease/
/src/Pixsys.Library.Common/.config/CakeRelease.settings.json
/src/Pixsys.Library.Common/.vs/
/src/Pixsys.Library.Common/Pixsys.Library.Common/bin/
/src/Pixsys.Library.Common/Pixsys.Library.Common/obj/
